<%= page_header :title => "Similar Terms" %> <%# TODO: i18n %>

<% if @terms %>
  <%= sidebar do %>
    <%= sidebar_header t('txt.common.representations') %>
    <%= sidebar_item :icon => 'share', :text => 'HTML', :path => similar_path(:terms => params[:terms], :format => :html) %>
    <%= sidebar_item :icon => 'share', :text => 'RDF/XML', :path => similar_path(:terms => params[:terms], :format => :rdf) %>
    <%= sidebar_item :icon => 'share', :text => 'RDF/Turtle', :path => similar_path(:terms => params[:terms], :format => :ttl) %>
  <% end %>
<% end %>

<%= form_tag(similar_path, :method => :get, :class => 'form-horizontal') do %>
  <%= text_field_tag :terms, (@terms ?
          Iqvoc::InlineDataHelper.generate_inline_values(@terms) :
          params[:terms]) %>
  <%= submit_tag t('txt.views.search_results.submit'), :class => 'btn btn-primary' %>
<% end %>

<ol>
  <% (@results || []).each do |data|
    label = data[0]
    concepts = data[1..-1]
  %>
    <li>
      <%= label.value %>
      (<%= concepts.map do |concept|
        origin = concept.origin
        link_to origin, rdf_url(origin, :format => nil, :lang => nil)
      end.join(", ").html_safe %>)
    </li>
  <% end %>
</ol>
