<% if @results %>
    <% if @results.any? %>
      <h2 class="text-center my-5">
        <%= raw t('txt.views.similar_terms.results', terms: @terms.join(', '), count: @results.size) %>
      </h2>

      <ol>
        <% (@results || []).each do |data|
          label = data[0]
          concepts = data[1..-1]
        %>
          <li>
            <%= label.value %>
            (<%= concepts.map do |concept|
            origin = concept.origin
            link_to origin, rdf_url(origin, :format => nil, :lang => nil)
          end.join(", ").html_safe %>)
          </li>
        <% end %>
      </ol>

    <% else %>
      <h2 class="text-center my-5">
        <%= t('txt.views.similar_terms.no_results') %>
      </h2>
    <% end %>
  </h2>

<% end %>

<div class="frontpage-title text-center">
  <h1 class="my-5">
    <%= t("txt.views.similar_terms.title") %>
  </h1>

  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <%= bootstrap_form_tag(url: similar_path, method: :get, html: { class: 'border' }) do |f| %>
        <div class="p-3 row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fa fa-search fa-lg"></i>
          </div>
          <div class="col">
            <%= f.text_field :terms, hide_label: true, placeholder: 'Suchbegriff', wrapper_class: 'mb-0',
                             class: 'form-control-lg form-control-borderless border-0',
                             value: (@terms ? InlineDataHelper.generate_inline_values(@terms) : params[:terms])
            %>
          </div>
          <div class="col-3">
            <%= f.submit t('txt.views.search_results.submit'), class: 'btn btn-block btn-lg btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
