<% if @results.any? %>
  <h2 class="text-center my-5">
    <%= raw t('txt.views.similar_terms.results', terms: @terms.join(', '), count: @results.size) %>
  </h2>

  <ol>
    <% (@results || []).each do |data|
      label = data[0]
      concepts = data[1..-1]
    %>
      <li>
        <%= label.value %>
        (<%= concepts.map do |concept|
        origin = concept.origin
        link_to origin, rdf_url(origin, :format => nil, :lang => nil)
      end.join(", ").html_safe %>)
      </li>
    <% end %>
  </ol>
<% else %>
  <h2 class="text-center my-5">
    <%= t('txt.views.similar_terms.no_results') %>
  </h2>
<% end %>

<div class="text-center my-5">
  <h1 class="mb-5">
    <%= t("txt.views.similar_terms.title") %>
  </h1>

  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <%= render 'form' %>
    </div>
  </div>
</div>
